@import "./reset.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --grey-color: #7c7c7c;
  --white-color: #fff;
  --light-blue-background: #dfe8f6;
  --blue-background: #141e55;
  --dark-color: #192a32;
  --link-button-color: #1a3769;
  --button-background-color: #ec622b;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  transition: all 0.5s ease-in-out;
}

section {
  border-radius: 6px;
  background-color: var(--white-color);
  margin-top: 20px;
}

.container {
  /* position: relative; */
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  gap: 18px;
  /* overflow: hidden; */
}

.logo {
  background-color: var(--blue-background);
  color: var(--white-color);
  /* line-height: 1.28; */
}

.button {
  display: inline-flex;
  height: 48px;
  padding: 12px 32px;
  justify-content: center;
  align-items: center;
  color: var(--white-color);
  background-color: var(--button-background-color);
  border-radius: 16px;
  box-shadow: 0px 4px 18px 0px rgba(14, 24, 17, 0.25);
  font-weight: 600;
  text-transform: uppercase;
}

.button:hover {
  scale: 1.1;
}

.main-title {
  font-size: 48px;
  line-height: 57.6px;
  font-weight: 700;
  text-transform: uppercase;
}

.secondary-title {
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  text-transform: uppercase;
}

/* Header */

.header {
  background-color: var(--dark-color);
  padding: 12px 0 13px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
}

.header__logo {
  padding: 14.5px 32px;
  font-size: 20px;
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.nav__wrapper {
  display: flex;
  gap: 50px;
}

.nav__list {
  display: flex;
  column-gap: 21px;
}

.nav__item {
  background-color: var(--link-button-color);
  padding: 12px 24px;
  border-radius: 16px;
  cursor: pointer;
}

.nav__item:hover,
.nav__item:focus,
.logo:hover,
.logo:focus {
  scale: 1.1;
}

.nav__item:first-child .nav__link::before {
  content: url("../img/svg/Gift.svg");
  height: 24px;
  width: 24px;
}

.nav__item:nth-child(2) .nav__link::before {
  content: url("../img/svg/iPhone.svg");
  height: 24px;
  width: 24px;
}

.nav__link {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 600;
  text-transform: uppercase;

  color: var(--white-color);
}

.auth {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.header__language {
  display: inline-flex;
  color: var(--white-color);
  height: 48px;
  /* padding: 12px 24px; */
  align-items: center;
  gap: 10px;
  background-color: var(--link-button-color);
  border-radius: 16px;
}

.language__select {
  width: 100%;
  padding: 12px 24px;
}

.language__select * {
  background-color: var(--link-button-color);
}

.auth__list {
  display: flex;
  gap: 16px;
}

/* .auth__link {
} */

/* .auth__button {
  font-weight: 600;
  text-transform: uppercase;
} */

.login {
  background-color: #0fa810;
}

/* Burger menu */
.nav-button {
  display: none;
}

/* Main */

.main {
  position: relative;
  background-color: var(--blue-background);
  /* padding-top: 20px; */
  display: flex;
  margin-top: 84px;
  /* z-index: 1; */
  overflow: hidden;
}

.main-section {
  position: relative;
  max-width: 925px;
  z-index: 5;
}

/* Mobile app */
.mobile-app {
  display: inline-flex;
  padding: 25px 20px;
  justify-content: center;
  align-items: center;
}

.mobile-app__button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  min-width: 179px;
  background-color: var(--link-button-color);
  padding: 12px 12px;
  border-radius: 16px;
  color: var(--white-color);
}

.mobile-app__button-text {
  /* font-weight: 600;
  text-transform: uppercase; */
  white-space: nowrap;
}

/* .mobile-app__button-text::before {
  content: url("../img/svg/android-app.svg") url("../img/svg/apple-app.svg");
} */

/* Hero */

.hero {
  background: linear-gradient(
      0deg,
      rgba(20, 30, 85, 0.6) 0%,
      rgba(20, 30, 85, 0.6) 100%
    ),
    url(<path-to-image>) lightgray 50% / cover no-repeat;
  background-image: url("../img/hero.png");
  height: 384px;
  padding: 41px 0 0 20px;
}

.hero__rating {
  display: flex;
  align-items: center;
  color: var(--white-color);
  font-weight: 600;
  font-size: 24px;
  line-height: 28.8px;
  margin-bottom: 4px;
}

.hero__rating::after {
  content: url("../img/svg/stars-group.svg");
  display: inline-block;
  height: 23px;
  margin-left: 8px;
}

.hero__content {
  color: var(--dark-color);
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  opacity: 0.8;
  margin-bottom: 10px;
}

.hero__title {
  color: var(--white-color);
  margin: 10px 0 16px;

  max-width: 538px;
}

.hero__button {
  display: flex;
  width: 214px;
  height: 48px;
  padding: 12px 32px;
  justify-content: center;
  align-items: center;

  /* font-weight: 600; */
  line-height: 20.48px;
  /* text-transform: uppercase; */
  margin-bottom: 10px;
}

.hero__warning {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 214px;
  color: var(--white-color);
  font-size: 6px;
  line-height: 9px;
}

/* Main nav */

.main-nav {
  display: inline-flex;
  height: 166px;
  padding: 32px 23px 32px 20px;
  justify-content: center;
  align-items: flex-start;
}

.main-nav__list {
  display: flex;
}

.main-nav__item {
  position: relative;
  width: 98px;
  height: 102px;
  border-radius: 6px;
  background: #f6f6f6;
  border-right: 1px solid rgba(16, 76, 84, 0.2);
}

.main-nav__item:hover {
  background: #fff;
  box-shadow: 0px 1px 12px 0px rgba(10, 98, 106, 0.15);
  /* border-top: 4px solid #0fa810; */
}

.main-nav__item:hover .main-nav__line {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 8px;
  border-radius: 0px 0px 6px 6px;
  background: #2e9344;
}

.main-nav__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  gap: 10px;
  width: 100%;
  height: 100%;
  color: var(--dark-color);
  font-size: 10px;
  font-weight: 600;
  padding: 15px 25px 0;
}

.main-nav__icon {
  width: 32px;
  height: 32px;
}

/* Bonus */

.bonus {
  background-color: var(--white-color);
  background-image: url("../img/bonus.png");
  background-repeat: no-repeat;
  height: 384px;
  padding: 90px 0 0 20px;
}

.bonus__content {
  max-width: 494px;
}

.bonus__title {
  margin-bottom: 16px;
}

.bonus__text {
  font-size: 32px;
  font-weight: 700;
  line-height: 38.4px;
  margin-bottom: 16px;
}

.bonus__button {
  border: 1px solid #fff;
}

/* Garanty */

.garanty {
  padding: 32px 20px;
}

.garanty__title {
  margin-bottom: 16px;
}

/* .garanty__text {
} */

/* Experience */

.experience {
  display: flex;
  width: 100%;
  padding: 32px 20px 33px 20px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}

.experience__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  width: 100%;
}

.experience__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-radius: 6px;
  background: #80bef8;
  padding: 16px 24px;
}

.experience__item-title {
  color: var(--white-color);
  font-weight: 600;
  line-height: 24px;
  text-transform: uppercase;
}

.experience__item-rating {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.experience__item-stars {
  display: flex;
  gap: 8px;
}

.experience__item-rating-text {
  color: var(--white-color);
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

/* Facts */

/* .facts__table {
  width: 100%;
}

.facts__table-row {
  border-bottom: 1px solid rgba(119, 119, 119, 0.5);
  /* display: flex; */
/* align-items: center; */
/* padding: 8px 16px; */
/* } */

.facts {
  padding: 32px 20px 24px;
}

.facts__title {
  width: 269px;
  margin-left: 20px;
  margin-bottom: 18px;
  padding-bottom: 6px;
  border-bottom: 2px solid #c5c5c5;
}

.facts__list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.facts__item {
  display: flex;
  max-width: 850px;
  align-items: center;
  gap: 28px;
  padding: 8px 16px;
  border-bottom: 1px solid rgba(119, 119, 119, 0.5);
}

/* .facts__item-text {
  white-space: nowrap;
} */

.facts__item-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 199px;
  min-width: 199px;
}

/* Sportsbook review */

.sportsbook {
  padding: 32px 20px;
}

.sportsbook__title {
  margin-bottom: 62px;
}

.sportsbook__text {
  padding-bottom: 40px;
}

.sportsbook__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 32px;
}

.sportsbook__item {
  padding: 20px 0;
}

.sportsbook__item:last-child {
  padding-bottom: 0;
}

.sportsbook__item-title {
  margin-bottom: 24px;
}

.sportsbook__item-text {
}

.sportsbook__item-list {
  padding: 20px 20px 0 20px;
}

.item-list__item {
  list-style-type: "- ";
  margin-bottom: 24px;
}

.item-list__item--numbered {
  list-style-type: decimal;
}

/* Reviews */

.reviews {
  padding: 20px;
  margin-top: 92px;
}

.reviews__title {
  margin-bottom: 14px;
}

.reviews__list {
  display: flex;
  gap: 19px;
}

.reviews__item {
  display: flex;
  gap: 31px;
  max-width: 433px;
  height: 177px;
  border-radius: 6px;
  padding: 32px 20px 32px 32px;
  background-color: #e2eaf7;
}

.reviews__item-img {
  border-radius: 8px;
  width: 109px;
  height: 113px;
}

.reviews__item-wrapper {
}

.reviews__item-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}

.reviews__item-name {
  font-weight: 600;
  line-height: 19.2px;
  text-transform: uppercase;
}

.reviews__item-rating {
  font-size: 12px;
}

.reviews__item-rating::before {
  content: url("../img/svg/star-rating.svg");
  position: relative;
  top: 3px;
  display: inline-block;
  margin-right: 6px;
}

.reviews__item-text {
}

/* Support */

.support {
  padding: 20px;
  background-image: url("../img/support.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.support__title {
  margin-bottom: 24px;
}

.support__text {
  margin-bottom: 24px;
}

.support__list {
  display: flex;
  gap: 16px;
  margin-bottom: 35px;
}

.support__item {
}

.support__button {
  background-color: var(--white-color);
  color: var(--dark-color);
  border: 1px solid var(--dark-color);
  box-shadow: none;
  padding: 10px 24px;
}

.support__button-icon {
  margin-right: 10px;
}

.support__info-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.support__info-item {
  display: flex;
  align-items: flex-start;
  gap: 26px;
  border-bottom: 1px solid var(--dark-color);
  padding: 10px 0;
}

.support__info-title {
  width: 212px;
  min-width: 212px;
}

.support__info-link {
  color: #2e9344;
}
.support__info-link:hover {
  text-decoration: underline;
}

.support__info-text {
}

.support__google-link {
  font-weight: 600;
}

/* FAQ */

.faq {
  padding: 20px;
}

.faq__title {
  margin-bottom: 32px;
}

.faq__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.faq__button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--white-color);
  width: 100%;
  padding: 20px;
  text-transform: uppercase;
  font-family: 600;
  border: 1px solid rgba(119, 119, 119, 0.5);
}

.faq__button.open .arrow {
  transform: rotate(180deg);
}

.faq__answer {
  display: none;
  background-color: var(--light-blue-background);
  padding: 16px 12px;
  border-radius: 0px 0px 6px 6px;
  opacity: 0.9;
}
.faq__answer.open {
  display: block;
}

/* Footer */

.footer {
  padding: 36px 20px;
}

.footer__content {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  margin-bottom: 42px;
}

.footer__responsibility {
  margin-bottom: 26px;
}

.footer__logo-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__logo-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 151px;
  padding: 6px 30px 8px 31px;
  font-size: 32px;
}

.footer__logo-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 253px;
  height: 54px;
  padding: 6px 81px 7px 82px;
  font-size: 32px;
}

/* Sidebar */

.sidebar {
  position: relative;
  width: 295px;
  margin-top: 20px;
  z-index: 5;
}

.sidebar__content {
}

.sidebar__events-section {
  margin-bottom: 20px;
}

.sidebar__live-wrapper {
  height: 88px;
  padding: 20px 22px;

  border-radius: 6px 6px 0px 0px;
  background: var(--dark-color);
}

.sidebar__live-link {
  display: flex;
  width: 251px;
  padding: 4px 16px 4px 4px;
  justify-content: space-between;
  align-items: center;
  border-radius: 60px;
}

.sidebar__live-text {
}

.sidebar__events-list {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 24px 0px;
  border-radius: 0px 0px 6px 6px;
  background-color: var(--white-color);
}

.sidebar__events-item {
  display: flex;
  /* width: 275px; */
  padding: 8px 12px;
  align-items: center;
  gap: 12px;
  cursor: pointer;
}

.sidebar__events-item:hover,
.sidebar__events-item:focus {
  background-color: var(--dark-color);
  color: var(--white-color);
}

.sidebar__events-link {
  color: var(--grey-color);
}
.sidebar__events-item:hover .sidebar__events-link,
.sidebar__events-item:focus .sidebar__events-link {
  color: var(--white-color);
}

.sidebar__title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
  padding: 20px 0px 21px 0px;
  border-radius: 6px;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--white-color);
  background-color: var(--dark-color);
}

.sidebar__games-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 20px;
  background-color: var(--white-color);
}

/* Circle */
.circle {
  position: absolute;
  width: 2114px;
  height: 2114px;
  background: radial-gradient(
    41.79% 41.79% at 45.9% 46.39%,
    #fff 0%,
    #00b9de 20.1%,
    #0085c2 39.9%,
    rgba(0, 104, 154, 0.39) 68.02%,
    rgba(0, 83, 123, 0) 100%
  );
  /* filter: blur(20px); */
  border-radius: 50%;
  z-index: 2;
}
.circle-1 {
  top: 50px;
  right: 5%;
}
.circle-2 {
  top: 1811px;
  left: -300px;
}
.circle-3 {
  top: 4000px;
  right: -180px;
}

/* Modal */

.modal {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  border-radius: 16px;
  /* height: 450px; */
  background-color: var(--white-color);
  z-index: 20;
}

.modal__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 20px;
}

.modal-close-btn {
  position: absolute;
  right: 20px;
  top: 20px;
  /* transform: translate(10px, -20px); */
  display: inline-block;
  text-align: center;
  padding: 7px 7px;
  background: #eee;
  border-radius: 50%;
}

.modal__close-icon {
  margin-top: 1px;
  width: 20px;
  height: 20px;
}

.modal__title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}

.modal__form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 80%;
}

.modal__input {
  padding: 10px 20px;
  border: 1px solid var(--link-button-color);
  border-radius: 5px;
  font-size: 18px;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  z-index: 15;
}

.hidden {
  display: none;
}
