@import "./reset.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --grey-color: #7c7c7c;
  --white-color: #fff;
  --light-blue-background: #dfe8f6;
  --blue-background: #141e55;
  --dark-color: #192a32;
  --link-button-color: #1a3769;
  --button-background-color: #ec622b;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  /* color: var(--dark-color); */
}

section {
  border-radius: 6px;
  background-color: var(--white-color);
  margin-top: 20px;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}

.logo {
  background-color: var(--blue-background);
  color: var(--white-color);
  /* line-height: 1.28; */
}

.button {
  display: inline-flex;
  height: 48px;
  padding: 12px 32px;
  justify-content: center;
  align-items: center;
  color: var(--white-color);
  background-color: var(--button-background-color);
  border-radius: 16px;
  box-shadow: 0px 4px 18px 0px rgba(14, 24, 17, 0.25);
  font-weight: 600;
  text-transform: uppercase;
}

/* Header */

.header {
  background-color: var(--dark-color);
  padding: 12px 0 13px;
}

.header__logo {
  padding: 14.5px 32px;
  font-size: 20px;
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__list {
  display: flex;
  column-gap: 21px;
}

.nav__item {
  background-color: var(--link-button-color);
  padding: 12px 24px;
  border-radius: 16px;
}

.nav__item:first-child .nav__link::before {
  content: url("../img/svg/Gift.svg");
  height: 24px;
  width: 24px;
}

.nav__item:nth-child(2) .nav__link::before {
  content: url("../img/svg/iPhone.svg");
  height: 24px;
  width: 24px;
}

.nav__link {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 600;
  text-transform: uppercase;

  color: var(--white-color);
}

.auth {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.header__language {
  display: inline-flex;
  color: var(--white-color);
  height: 48px;
  /* padding: 12px 24px; */
  align-items: center;
  gap: 10px;
  background-color: var(--link-button-color);
  border-radius: 16px;
}

.language__select {
  width: 100%;
  padding: 12px 24px;
}

.language__select * {
  background-color: var(--link-button-color);
}

.auth__list {
  display: flex;
  gap: 16px;
}

/* .auth__link {
} */

/* .auth__button {
  font-weight: 600;
  text-transform: uppercase;
} */

.login {
  background-color: #0fa810;
}

/* Main */

.main {
  background-color: var(--blue-background);
  padding-top: 20px;
}

.main-section {
  max-width: 925px;
}

/* Mobile app */
.mobile-app {
  display: inline-flex;
  padding: 25px 20px;
  justify-content: center;
  align-items: center;
}

.mobile-app__button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  min-width: 179px;
  background-color: var(--link-button-color);
  padding: 12px 12px;
  border-radius: 16px;
  color: var(--white-color);
}

.mobile-app__button-text {
  /* font-weight: 600;
  text-transform: uppercase; */
  white-space: nowrap;
}

/* .mobile-app__button-text::before {
  content: url("../img/svg/android-app.svg") url("../img/svg/apple-app.svg");
} */

/* Hero */

.hero {
  background: linear-gradient(
      0deg,
      rgba(20, 30, 85, 0.6) 0%,
      rgba(20, 30, 85, 0.6) 100%
    ),
    url(<path-to-image>) lightgray 50% / cover no-repeat;
  background-image: url("../img/hero.png");
  height: 384px;
  padding: 41px 0 0 20px;
}

.hero__rating {
  display: flex;
  align-items: center;
  color: var(--white-color);
  font-weight: 600;
  font-size: 24px;
  line-height: 28.8px;
  margin-bottom: 4px;
}

.hero__rating::after {
  content: url("../img/svg/stars-group.svg");
  display: inline-block;
  height: 23px;
  margin-left: 8px;
}

.hero__content {
  color: var(--dark-color);
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  opacity: 0.8;
  margin-bottom: 10px;
}

.hero__title {
  color: var(--white-color);
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  margin: 10px 0 16px;
  text-transform: uppercase;

  width: 538px;
}

.hero__button {
  display: flex;
  width: 214px;
  height: 48px;
  padding: 12px 32px;
  justify-content: center;
  align-items: center;

  /* font-weight: 600; */
  line-height: 20.48px;
  /* text-transform: uppercase; */
  margin-bottom: 10px;
}

.hero__warning {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 214px;
  color: var(--white-color);
  font-size: 6px;
  line-height: 9px;
}

/* Main nav */

.main-nav {
  display: inline-flex;
  height: 166px;
  padding: 32px 23px 32px 20px;
  justify-content: center;
  align-items: flex-start;
}

.main-nav__list {
  display: flex;
}

.main-nav__item {
  width: 98px;
  height: 102px;
  border-radius: 6px;
  background: #f6f6f6;
  border-right: 1px solid rgba(16, 76, 84, 0.2);
}

.main-nav__item:hover {
}

.main-nav__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  gap: 10px;
  width: 100%;
  height: 100%;
  color: var(--dark-color);
  font-size: 10px;
  font-weight: 600;
  padding: 15px 25px 0;
}

.main-nav__icon {
  width: 32px;
  height: 32px;
}

/* Bonus */

.bonus {
  background-color: var(--white-color);
  background-image: url("../img/bonus.png");
  background-repeat: no-repeat;
  height: 384px;
  padding: 90px 0 0 20px;
}

.bonus__content {
  max-width: 494px;
}

.bonus__title {
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.bonus__text {
  font-size: 32px;
  font-weight: 700;
  line-height: 38.4px;
  margin-bottom: 16px;
}

.bonus__button {
  border: 1px solid #fff;
}

/* Garanty */

.garanty {
  padding: 32px 20px;
}

.garanty__title {
  font-size: 48px;
  font-weight: 700;
  line-height: 57.6px;
  text-transform: uppercase;
  margin-bottom: 16px;
}

/* .garanty__text {
} */

/* Experience */

.experience {
  display: flex;
  width: 100%;
  padding: 32px 20px 33px 20px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}

.experience__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  width: 100%;
}

.experience__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-radius: 6px;
  background: #80bef8;
  padding: 16px 24px;
}

.experience__item-title {
  color: var(--white-color);
  font-weight: 600;
  line-height: 24px;
  text-transform: uppercase;
}

.experience__item-rating {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.experience__item-stars {
  display: flex;
  gap: 8px;
}

.experience__item-rating-text {
  color: var(--white-color);
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

/* Facts */

/* .facts__table {
  width: 100%;
}

.facts__table-row {
  border-bottom: 1px solid rgba(119, 119, 119, 0.5);
  /* display: flex; */
/* align-items: center; */
/* padding: 8px 16px; */
/* } */

.facts {
  padding: 32px 20px 24px;
}

.facts__title {
  width: 269px;
  font-size: 40px;

  font-weight: 700;
  line-height: 48px;
  text-transform: uppercase;
  margin-left: 20px;
  padding-bottom: 6px;
  border-bottom: 2px solid #c5c5c5;
}

.facts__list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.facts__item {
  display: flex;
  align-items: center;
  gap: 28px;
  padding: 8px 16px;
  border-bottom: 1px solid rgba(119, 119, 119, 0.5);
}

/* .facts__item-text {
  white-space: nowrap;
} */

.facts__item-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 199px;
}
