@media (max-width: 320px) {
  .main-section {
    max-width: 268px;
  }

  .support__info-item {
    flex-direction: column;
  }

  .facts__title {
    width: 229px;
    margin-left: 20px;
    margin-bottom: 18px;
    padding-bottom: 6px;
  }

  #scroll-btn {
    display: none;
  }
}

@media (max-width: 768px) {
  body {
    font-size: 12px;
  }

  #scroll-btn {
    display: none;
  }
  .main-title {
    font-size: 36px;

    font-weight: 700;
  }

  .secondary-title {
    font-size: 28px;
    font-weight: 700;
  }

  /* Header */
  .nav__wrapper {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--white-color);
    z-index: 1;
    padding: 20px;
    transition: right 0.5s ease;
  }
  .nav-button {
    display: block;
    position: fixed;
    z-index: 2;
    right: 20px;
    top: 20px;
  }

  .nav__wrapper.open {
    display: flex;
    flex-direction: column;

    transition: right 0.5s ease;
    /* position: fixed; */
  }

  .nav__list {
    flex-direction: column;
    align-items: center;
    gap: 10px;
    /* width: 80%; */
  }

  .auth {
    flex-direction: column;
    align-items: flex-start;
    align-items: center;
  }

  /* .header__logo {
    padding: 10px 20px;
    font-size: 14px;
  } */

  /* Main */

  .container {
    flex-direction: column;
    max-width: 768px;
    width: 100%;
  }

  .hero {
    height: auto;
    padding: 21px 0 0 10px;
  }
  .main-section {
    max-width: 768px;
    width: 100%;
  }

  .main-nav {
    height: auto;
    width: 100%;
  }

  .main-nav__list {
    flex-wrap: wrap;
    /* display: grid; */
    gap: 20px;
    justify-content: space-evenly;

    /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr; */
  }

  /* Mobile App */

  .mobile-app {
    flex-direction: column;
    gap: 12px;
    padding: 12px 10px;
  }

  /* Bonus */

  .bonus {
    background-image: url(../img/bonus.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 354px;
    padding: 25px 0 0 10px;
  }

  .bonus__content {
    max-width: 272px;
  }

  /* Experience */

  .experience__item-title {
    font-size: 12px;
  }

  .experience__item-rating {
    gap: 12px;
  }

  .experience__item-stars {
    /* height: 12px; */
    gap: 4px;
  }

  .experience__item-icon {
    height: 24px;
    width: 24px;
  }

  /* Facts */
  .facts__item {
    max-width: fit-content;
    width: 100%;
    gap: 16px;
    padding: 6px 8px;
  }

  .facts__item-wrapper {
    min-width: 100px;
    width: fit-content;
  }

  .facts__item-text {
    font-size: 12px;
  }

  /* Reviews */

  .reviews__list {
    flex-direction: column;
    align-items: center;
  }

  .reviews__item-wrapper {
    overflow: hidden;
  }

  .reviews__item {
    padding: 22px 14px 22px 22px;
    gap: 14px;
  }

  .reviews__item-name {
    font-size: 12px;
  }

  .reviews__item-text {
    font-size: 12px;
  }

  .reviews__item-rating::before {
    height: 10px;
    width: 10px;
  }

  /* Support */

  .support__list {
    /* flex-direction: column; */
  }

  .support__button {
    padding: 6px 10px;
    height: 28px;
    font-weight: 400;
  }

  .support__button-icon {
    margin-right: 6px;
    height: 14px;
  }

  .support__info-item {
    align-items: center;
    gap: 10px;
    padding: 8px 0;
  }

  .support__info-title {
    width: 112px;
    min-width: 112px;
    font-size: 12px;
  }
  .support__info-link {
    font-size: 12px;
  }

  .support__info-icon {
    height: 14px;
  }

  /* Footer */

  .footer__logo-section {
    flex-direction: column;
    gap: 20px;
  }

  .sidebar {
    width: 100%;
  }

  .sidebar__content {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .sidebar__live-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 1279px) {
  .header__logo {
    padding: 10px 20px;
    font-size: 14px;
  }
  /* Main */

  .container {
    flex-direction: column;
    max-width: 1279px;
    width: 100%;
  }

  .main {
    margin-top: 65px;
  }
  .main__content {
    margin: 0 auto;
  }

  .nav__list {
    column-gap: 10px;
  }

  .nav__item {
    padding: 6px 12px;
    /* border-radius: 6px; */
  }

  .nav__link {
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 600;
    font-size: 12px;
  }

  .nav__item:first-child .nav__link::before {
    content: none;
  }

  .nav__item:nth-child(2) .nav__link::before {
    content: none;
  }

  .auth__button {
    padding: 6px 12px;
    height: auto;
    font-size: 12px;
  }
  .header__language {
    height: auto;
  }
  .language__select {
    width: 100%;
    padding: 6px 12px;
    font-size: 12px;
    height: auto;
  }

  .main-nav {
    height: auto;
    width: 100%;
  }

  .main-nav__list {
    flex-wrap: wrap;

    /* display: grid; */
    gap: 20px;
    justify-content: space-evenly;

    /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr; */
  }

  /* Review */
  .reviews__item {
    padding: 22px 14px 22px 22px;
    gap: 14px;
  } /* Sidebar */

  .sidebar {
    width: 100%;
  }
  .sidebar__content {
    display: flex;
    justify-content: space-evenly;
    gap: 31px;
  }

  .sidebar__title {
    height: 88px;
  }
}
